* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    
    /* border: 1px solid black; */
}

.shadow {
    -webkit-box-shadow: -16px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -16px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -16px 10px 5px 0px rgba(0,0,0,0.75);
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(100,75,233,0.9654236694677871) 100%);
}

section {
    /* margin-top: 50px; */
    margin-bottom: 150px;
}

.main-subtitle {
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

.img-banner1 {
    width: 100vw;
    
    
}

.main-menu {
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    line-height: 2.5;
    display: flex;
    justify-content: space-around;
}

.main-menu__link {
    text-decoration: none;
}

.main-menu__link:hover {
    opacity: .3;
    color: white;
}

.main-perfil__data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.main-proyect {
}

.main-proyect__imges {
    /* width: 200px; */
    display: flex;
    justify-content: center;
}

.main-skills {
    display: flex;
    
}

.skill {
    padding: 40px;
}

.img__skill {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10%;
    border: 2px solid black;
}

.skill__label {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin-top: 5px;
    padding: 1em;
    margin: auto;
    border-radius: 50%;
    background: rgba(202, 204, 204, 0.918);

}

.main-contacto {
    /* opacity: 0.7; */
    
}

.main-form {
    max-width: 70%;
    justify-content: center;
    margin: auto;
    padding: 30px;
    margin-bottom: 30px;
}

.form__camp--label {
    border: 2px solid black;
    background: white;
    border-radius: 10%;
    /* margin-left: 80px; */
    /* margin-right: 10px; */
    padding: 10px;
}

.form__camp--data {
    font-size: 1.5em;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}

.form__camp--input {
    width: 35%;
}

.form__camp--text {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    padding: 10px;
}

.form__camp--button {
    font-size: 1.5em;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;
    padding: 10px;
    /* border: 2px solid black; */
}

.border {
    border: 2px solid black;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 50px 50px;
    font-size: 1.5em;
}